@model TaskQueue.ML.Entities.Task
@{
    ViewData["Title"] = "Crear Tarea";
}
<h2>Crear Tarea</h2>
<form asp-action="Create">
    <div class="form-group">
        <label class="control-label">Título</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Prioridad</label>
        <select asp-for="PriorityId" class="form-control" asp-items="ViewBag.Priorities"></select>
        <span asp-validation-for="PriorityId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Tipo de Tarea</label>
        <select asp-for="TaskTypeId" class="form-control" asp-items="ViewBag.TaskTypes"></select>
        <span asp-validation-for="TaskTypeId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Estado</label>
        <select asp-for="StatusId" class="form-control" asp-items="ViewBag.Statuses"></select>
        <span asp-validation-for="StatusId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Fecha Programada</label>
        <input asp-for="ScheduledOn" class="form-control" type="datetime-local" />
        <span asp-validation-for="ScheduledOn" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Usuario</label>
        <select asp-for="CreatedBy" class="form-control" asp-items="ViewBag.Users"></select>
        <span asp-validation-for="CreatedBy" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Crear" class="btn btn-primary" />
    </div>
</form>
