@model TaskQueue.ML.Entities.Task
@{
    ViewData["Title"] = "Detalles Tarea";
}
<h2>Detalles Tarea</h2>
<dl class="row">
    <dt class="col-sm-2">Título</dt>
    <dd class="col-sm-10">@Model.Title</dd>
    <dt class="col-sm-2">Prioridad</dt>
    <dd class="col-sm-10">@Model.PriorityId</dd>
</dl>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
